<a href="https://colab.research.google.com/github/Shaikh-Je/Shaikh-Je/blob/main/SAKJOperationsOnBasic_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series – One Column Notebook

In [ ]:
import pandas as pd

scores = pd.Series([85, 90, 78, 92])
print(scores)

0    85
1    90
2    78
3    92
dtype: int64

In [ ]:
import pandas as pd

serArray = pd.Series([12, 11, 55, 3, 8])
print(serArray)

0    12
1    11
2    55
3     3
4     8
dtype: int64

In [ ]:
scores = pd.Series([85, 90, 78], index=["Alice", "Bob", "Charlie"])
print(scores)

Alice      85
Bob        90
Charlie    78
dtype: int64

In [ ]:
ageTable = pd.Series([22, 25, 29, 29, 49], index = ['Jellani', "Kaif", "Asad", "Rabbani", "Farzana"])
print(ageTable)

Jellani    22
Kaif       25
Asad       29
Rabbani    29
Farzana    49
dtype: int64

DataFrame

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 28],
    "Salary": [50000, 60000, 55000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   28   55000

In [ ]:
data = {
    "Name" : ("Jellani", "Kaif", "Asad", "Rabbani", "Farzana"),
    "Age" : [22, 25, 29, 29, 49],
    "Salary" : [231311, 2342232, 12343234, 2313123, 1311313242432423],
    "Bio Parents" : "Ansar & Farzana"
}

data['Age'][4] = 40

df = pd.DataFrame(data)
print(df)

#data['Bio Parents'][4] = "Shabbir & Shataj"
df.at[4, 'Bio Parents'] = "Shabbir & Shataj"
df.at[2, 'Bio Parents'] = "Liyakhat & Noor"
print(df)

      Name  Age            Salary      Bio Parents
0  Jellani   22            231311  Ansar & Farzana
1     Kaif   25           2342232  Ansar & Farzana
2     Asad   29          12343234  Ansar & Farzana
3  Rabbani   29           2313123  Ansar & Farzana
4  Farzana   40  1311313242432423  Ansar & Farzana
      Name  Age            Salary       Bio Parents
0  Jellani   22            231311   Ansar & Farzana
1     Kaif   25           2342232   Ansar & Farzana
2     Asad   29          12343234   Liyakhat & Noor
3  Rabbani   29           2313123   Ansar & Farzana
4  Farzana   40  1311313242432423  Shabbir & Shataj

Reading Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Python Course/iris.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/Python Course/iris.csv'

First Look at Data (Must-Know)

In [ ]:
df.head()      # First 5 rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.tail()      # Last 5 rows
df.shape       # (rows, columns)

(150, 5)

In [ ]:
df.info()      # Structure & datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.describe()  # Stats summary

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Selecting Columns – Picking Files from Cabinet

In [ ]:
df["sepal_length"]           # Single column
df[["sepal_length", "sepal_width"]]    # Multiple columns

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

Selecting Rows – GPS Coordinates (loc & iloc)

📍 loc = Name-based address
📍 iloc = Number-based address

In [ ]:
df.loc[0]     # First flower (label-based)

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [ ]:
df.iloc[0]    # First flower (position-based)

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [ ]:
df.iloc[0:5, 0:2]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

Filtering Rows – Applying Conditions

In [ ]:
df[df["petal_length"] > 5]

     sepal_length  sepal_width  petal_length  petal_width     species
83            6.0          2.7           5.1          1.6  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
120           6.9          3.2           5.7          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [ ]:
df[
    (df["petal_length"] > 5) &
    (df["species"] == "virginica")
]

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Adding New Columns – Feature Engineering

In [ ]:

df["sepal_area"] = df["sepal_length"] * df["sepal_width"]
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_area
0           5.1          3.5           1.4          0.2  setosa       17.85
1           4.9          3.0           1.4          0.2  setosa       14.70
2           4.7          3.2           1.3          0.2  setosa       15.04
3           4.6          3.1           1.5          0.2  setosa       14.26
4           5.0          3.6           1.4          0.2  setosa       18.00

In [ ]:
df["petal_length_mm"] = df["petal_length"] * 10

In [ ]:
df.sort_values(by="sepal_area", ascending=False).head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,petal_length_mm
131,7.9,3.8,6.4,2.0,virginica,30.02,64.0
117,7.7,3.8,6.7,2.2,virginica,29.26,67.0
109,7.2,3.6,6.1,2.5,virginica,25.92,61.0
15,5.7,4.4,1.5,0.4,setosa,25.08,15.0
14,5.8,4.0,1.2,0.2,setosa,23.20,12.0

GroupBy – Species-wise Analysis

In [ ]:
df.groupby("species")["petal_length"].mean()

species
setosa        1.464
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

In [ ]:
df.groupby("species").agg({
    "sepal_length": ["mean", "max"],
    "petal_length": ["mean", "min"],
    "petal_width": "mean"
})

           sepal_length      petal_length      petal_width
                   mean  max         mean  min        mean
species
setosa            5.006  5.8        1.464  1.0       0.244
versicolor        5.936  7.0        4.260  3.0       1.326
virginica         6.588  7.9        5.552  4.5       2.026

In [ ]:
df["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

Finding Missing Values

In [ ]:
df.isnull().sum()

sepal_length       0
sepal_width        0
petal_length       0
petal_width        0
species            0
sepal_area         0
petal_length_mm    0
dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
fdf = pd.read_csv("C:\Users\Shaik Jellani\Downloads")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (ipython-input-4256323235.py, line 1)

In [ ]:
fdf = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/flower_dataset.csv")

In [ ]:
fdf.head()

           species    size fragrance  height_cm
0             rose  medium      mild      48.55
1  shoeblack plant  medium      mild     147.07
2  shoeblack plant  medium      none     102.93
3         hibiscus   large      none     184.00
4  shoeblack plant   large      mild      83.07

In [ ]:
fdf.tail()

              species    size fragrance  height_cm
9995         hibiscus   large      none     109.52
9996  shoeblack plant  medium      mild     145.23
9997         hibiscus   large      none     126.69
9998  shoeblack plant   large      none      77.62
9999             rose  medium      mild      88.11

In [ ]:
fdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   species    10000 non-null  object
 1   size       10000 non-null  object
 2   fragrance  10000 non-null  object
 3   height_cm  10000 non-null  float64
dtypes: float64(1), object(3)
memory usage: 312.6+ KB

In [ ]:
fdf.describe()

          height_cm
count  10000.000000
mean     104.873938
std       43.635191
min       30.090000
25%       69.307500
50%      100.510000
75%      137.022500
max      199.970000

In [ ]:
fdf['species']

0                  rose
1       shoeblack plant
2       shoeblack plant
3              hibiscus
4       shoeblack plant
             ...
9995           hibiscus
9996    shoeblack plant
9997           hibiscus
9998    shoeblack plant
9999               rose
Name: species, Length: 10000, dtype: object

In [ ]:
fdf.loc[0]

species        rose
size         medium
fragrance      mild
height_cm     48.55
Name: 0, dtype: object

In [ ]:
fdf.iloc[[1, 4]]

           species    size fragrance  height_cm
1  shoeblack plant  medium      mild     147.07
4  shoeblack plant   large      mild      83.07

In [ ]:
fdf[fdf['height_cm'] > 150]

       species   size fragrance  height_cm
3     hibiscus  large      none     184.00
8     hibiscus  large      none     160.88
22    hibiscus  large      none     187.12
24    hibiscus  large      none     174.18
27    hibiscus  large      none     184.91
...        ...    ...       ...        ...
9973  hibiscus  large      none     192.79
9979  hibiscus  large      none     181.88
9982  hibiscus  large      none     194.59
9988  hibiscus  large      none     175.51
9992  hibiscus  large      none     152.35

[1621 rows x 4 columns]

In [ ]:
fdf[
    (fdf['height_cm'] < 50) &
     (fdf['species'] == "rose")
  ]

     species    size fragrance  height_cm
0       rose  medium      mild      48.55
10      rose   small    strong      37.00
14      rose   small      mild      46.21
16      rose  medium    strong      33.10
43      rose  medium    strong      46.73
...      ...     ...       ...        ...
9970    rose   small    strong      36.01
9974    rose  medium    strong      34.02
9975    rose  medium    strong      38.85
9984    rose   small    strong      31.09
9986    rose  medium    strong      48.27

[997 rows x 4 columns]

In [ ]:
#Describe() for the above cell
d = fdf[
    (fdf['height_cm'] < 50) &
     (fdf['species'] == "rose")
  ]
print(d.describe(include='all'))
#print(d)

       species   size fragrance   height_cm
count      997    997       997  997.000000
unique       1      2         2         NaN
top       rose  small    strong         NaN
freq       997    507       508         NaN
mean       NaN    NaN       NaN   40.137302
std        NaN    NaN       NaN    5.906372
min        NaN    NaN       NaN   30.090000
25%        NaN    NaN       NaN   34.780000
50%        NaN    NaN       NaN   40.510000
75%        NaN    NaN       NaN   45.340000
max        NaN    NaN       NaN   49.960000

In [ ]:
fdf['Is_small'] = fdf['size'] == "small"
fdf.head(10)

,species,size,fragrance,height_cm,Is small,Is rose and small,Is_rose_&_small,Is_small
0,rose,medium,mild,48.55,False,False,False,False
1,shoeblack plant,medium,mild,147.07,False,False,False,False
2,shoeblack plant,medium,none,102.93,False,False,False,False
3,hibiscus,large,none,184.00,False,False,False,False
4,shoeblack plant,large,mild,83.07,False,False,False,False
5,hibiscus,large,none,120.88,False,False,False,False
6,rose,small,mild,99.24,True,True,True,True
7,rose,small,strong,96.75,True,True,True,True
8,hibiscus,large,none,160.88,False,False,False,False
9,shoeblack plant,large,mild,60.43,False,False,False,False

In [ ]:
fdf['Is_rose_&_small'] = (fdf['size'] == "small") & (fdf['species'] == "rose")
fdf.head(10)

,species,size,fragrance,height_cm,Is small,Is rose and small,Is_rose_&_small
0,rose,medium,mild,48.55,False,False,False
1,shoeblack plant,medium,mild,147.07,False,False,False
2,shoeblack plant,medium,none,102.93,False,False,False
3,hibiscus,large,none,184.00,False,False,False
4,shoeblack plant,large,mild,83.07,False,False,False
5,hibiscus,large,none,120.88,False,False,False
6,rose,small,mild,99.24,True,True,True
7,rose,small,strong,96.75,True,True,True
8,hibiscus,large,none,160.88,False,False,False
9,shoeblack plant,large,mild,60.43,False,False,False

In [ ]:
fdf.isnull().sum()

species              0
size                 0
fragrance            0
height_cm            0
Is small             0
Is rose and small    0
Is_rose_&_small      0
Is_small             0
dtype: int64

In [ ]:
fdf['fragrance'].value_counts()

fragrance
none      5003
mild      3327
strong    1670
Name: count, dtype: int64